<%= render partial: "artist_info", locals: {artist:} %>

<hr class="my-4">

<div class="flex items-baseline justify-between">
  <h2 class="text-header-2">Popular</h2>
  <%= link_to "See all", artist_tracks_path(artist), class: "text-secondary hover:text-primary transition-colors text-sm" %>
</div>
<ul class="tracks mt-2">
  <%= render tracks, enqueueble: true %>
  <li class="track">
    <span class="track--number"></span>
    <a href="#" class="text-secondary hover:text-primary transition-colors">Load more</a>
  </li>
</ul>

<hr class="my-4"/>

<%= render partial: "discography", locals: {artist:, albums:} %>
