<% if current_user && !current_user.live_station&.live? %>
  <% if @live_stations.any? %>
    <h2 class="mt-4 text-header-2">Live</h2>
    <div class="albums-row">
      <%= render @live_stations %>
    </div>
  <% end %>
<% end %>
<h2 class="mt-4 text-header-2">New Arrivals</h2>

<div class="albums-grid">
  <%= render @new_albums %>
</div>

<% if current_user %>
  <h2 class="mt-4 text-header-2">Recently Played</h2>
  <div class="albums-row">
    <%= render @recent_albums %>
  </div>
<% end %>

<h2 class="mt-4 text-header-2">Popular</h2>
<div class="albums-row">
  <%= render @popular_albums %>
</div>
