@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&display=swap');
@import "./nav.css";
@import "./tabs.css";
@import "./tracks.css";
@import "./artist.css";
@import "./album.css";
@import "./player.css";
@import "./login.css";
@import "./transitions.css";
@import "./flash.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Nunito, sans-serif;
  }
}

.main {
  @apply h-full p-4 overflow-x-hidden text-plain w-2/3;
  min-height: calc(100vh - 140px);
}

.aside {
  @apply border-l border-secondary border-opacity-50 w-1/3 top-0 fixed right-0 bottom-0 mt-[70px] pb-[70px] text-plain overflow-y-auto;
}

.album-info {
  @apply  mt-2 p-4 border-b border-secondary border-opacity-50;
}

.album-meta {
  @apply mt-2;
}

.meta {
  @apply text-gray-600 text-xsmall;
}

.meta:not(:last-child):after {
  content: " ○ "
}

.icon-btn {
  @apply text-secondary hover:text-primary transition-colors;
}

.icon-btn > svg {
  @apply w-8 h-8;
}

.button {
  @apply px-4 py-2 rounded hover:bg-opacity-75 active:bg-opacity-50 focus:outline-none;
}

.button-primary {
  @apply bg-primary text-white cursor-pointer;
}

.button-secondary {
  @apply bg-white text-secondary border-secondary border cursor-pointer;
}

.input {
  @apply p-1 w-full rounded border border-gray-300 focus:outline-none;
}

html.debug * {
  animation: highlight 0.2s ease;
}

@keyframes highlight {
  0% {
    outline: 1px solid red;
  }
  100% {
    outline: 0px solid red;
  }
}
