
.nav {
  @apply bg-primary w-full flex items-center justify-between top-0 h-[70px] shadow-md sticky z-30;
}

.nav--left {
  @apply ml-4 flex flex-grow-0 items-center;
}

.nav--right {
  @apply mx-4 flex flex-row items-center;
}

.nav--logo {
  @apply flex h-full items-center self-start;
  background: var(--logo-background);
  background-size: contain;
  padding: 30px 30px;
}

.nav--title {
  @apply self-center ml-2 font-extralight text-header-3 underline decoration-wavy decoration-2;
}

.nav--mid {
  @apply ml-4 flex items-center flex-grow max-w-md justify-center;
}

.nav--menu {
  @apply text-plain font-extralight mx-4 hover:underline hover:decoration-wavy hover:decoration-secondary;
}

.nav--btn {
  @apply font-bold text-xsmall bg-secondary text-white px-2 py-1 rounded-md hover:opacity-100 hover:bg-opacity-75;
}

.nav--btn--outlined {
  @apply font-bold text-xsmall opacity-50 hover:opacity-100;
}

.nav--username {
  @apply text-plain;
}
