<%# locals: () -%>
<div class="fixed z-50 right-0 mr-4 top-0 mt-[80px]" id="flash">
  <div class="flex justify-center">
    <% if flash[:notice] %>
      <div class="flash notice" role="alert" data-turbo-temporary data-controller="removeable" data-removeable-after-value="5">
        <span class="notice-btn" data-action="click->removeable#remove">
          <%= render "icons/close" %>
        </span>
        <p class="text-small"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert" role="alert" data-turbo-temporary data-controller="removeable" data-removeable-after-value="5">
        <p class="text-small"><%= flash[:alert] %></p>
      </div>
    <% end %>
  </div>
</div>
