<%# locals: () -%>
<div class="fixed z-50 right-0 mr-4 top-0 mt-[80px]" id="flash">
  <div class="flex justify-center">
    <% if flash[:notice] %>
      <div class="flash notice flex gap-3 items-center" role="alert" data-turbo-temporary data-controller="removeable" data-removeable-after-value="5">
        <p class="text-small"><%= flash[:notice] %></p>
        <%= image_tag "icons/x-circle.svg", class: "w-4 h-4 cursor-pointer", data: { action: "click->removeable#remove" }  %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert flex gap-3 items-center" role="alert" data-turbo-temporary data-controller="removeable" data-removeable-after-value="5">
        <p class="text-small"><%= flash[:alert] %></p>
        <%= image_tag "icons/x-circle.svg", class: "w-4 h-4 cursor-pointer", data: { action: "click->removeable#remove" }  %>
      </div>
    <% end %>
  </div>
</div>
